<!DOCTYPE html>
<html>
	<head>
		<title>WonderLust</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css">
	</head>
	<body>
		<div id="wonderTitle">
			<div id="wonderContent">
				<h1> WONDERLUST</h1>
				<h3>
					 -- The Great Outdoors --
				</h3>
				<p> • Come and see the many amazing places our planet has to offer and get ideas for your next trip</p>
				<p> • Have a gem location to share? Feel free to add it to the list</p>
				<p> • Been somewhere before? Share your experience!</p>
				<button type="button" class="btn btn-outline-light btn-sm"><a href="locations">Click here to get started!</a></button>
			</div>
		</div>
		<!-- <div class="d-flex justify-content-center">
			<h1>Welcome to Wunderlust!</h1>
			<h3>
				The Great Outdoors
			</h3>
			<p> - Come and see the many amazing places our planet has to offer and get ideas for your next trip</p>
			<p> - Have a gem location to share? Feel free to add it to the list</p>
			<p> - Been somewhere before? Share your experience!</p>
			<button type="button" class="btn btn-outline-light btn-sm"><a href="locations">Click here to get started!</a></button>
		</div> -->


<%- include("partial/footer") %>