body{
  animation: slide 20s ease-in-out infinite;
}
#wonderTitle{
	position: fixed;
  top: 40%;
  left: 50%;
	 transform: translate(-50%, -50%);
	text-align: center;
}
#wonderContent{
	background: rgba(250,250,250, 0.5);
	/* border: 1px solid white; */
	border-radius: 19px;
	padding: 10%;
	text-decoration-color:black;
}

@keyframes slide {
	0% {
	  background-image: url("https://wonderlust0.s3-us-west-1.amazonaws.com/Seljalandsfoss+Waterfall%2C+Iceland.jpeg");
	  height: 100vh;
	  background-size: cover;

	}
	33% {
	  background-image: url("https://wonderlust0.s3-us-west-1.amazonaws.com/Seljalandsfoss+Waterfall%2C+Iceland.jpeg" );
		height: 100vh;
	  background-size: cover;


	}
	33.01% {
	  background-image: url("https://wonderlust0.s3-us-west-1.amazonaws.com/Yoho%2C+Emerald+Lake%2C+Canada.jpeg" );
		height: 100vh;
	  background-size: cover;
	}
	66% {
	  background-image: url("https://wonderlust0.s3-us-west-1.amazonaws.com/Yoho%2C+Emerald+Lake%2C+Canada.jpeg" );
		height: 100vh;
	  background-size: cover;
	}
	66.01% {
	  background-image: url('https://wonderlust0.s3-us-west-1.amazonaws.com/reykjavik%2C+Iceland.jpeg');
		height: 100vh;
	  background-size: cover;
	}
	100% {
	  background-image: url('https://wonderlust0.s3-us-west-1.amazonaws.com/reykjavik%2C+Iceland.jpeg');
	  background-size: cover;
	}
};